---
layout: default
ref: index
lang: fr
---

<div class="main-header">
  <div class="school-name">{{ site.school-name[page.lang] }}</div>
  <div class="name">{{ site.header-title[page.lang] }}</div>
</div>

<div class="events">
  <div class="wrapper">
    <div class="title">{{ site.upcoming-events[page.lang] }}</div>
    <ul class="event-list">
      {% assign events=site.events | where:"lang", page.lang | sort: 'date' %}
      {% for event in events limit:5 %}
        <li>
          <div>
            <span class="post-meta">{{ event.date | date: "%b %-d, %Y" }} @ {{ event.time }}</span>

              <a class="heading" href="{{ event.permalink | prepend: site.baseurl }}">{{ event.title }}</a>
          </div>

            <div class="event-info-block">
              <span class="event-info">{{ site.cost[page.lang] }}: {{ event.cost }}</span>
              <span class="event-info">{{ site.location[page.lang] }}: {{ event.location }}</span>
              <span class="fb-link"><a href="{{ event.facebooklink }}">{{ site.facebook-link[page.lang]}}</a></span>
            </div>

            <div class="excerpt">{{ event.content | strip_html | truncatewords:30 }}</div>
        </li>
      {% endfor %}
    </ul>
    <center><a class="button" href=" {{ site.blog-url[page.lang] }}">{{ site.event-more-button[page.lang] }}</a></center>
  </div>
</div>

<div class="posts">
  <div class="wrapper">
    <div class="title">{{ site.latest-posts[page.lang] }}</div>
    <ul class="post-list">
      {% assign posts=site.posts | where:"lang", page.lang %}
      {% for post in posts limit:5 %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <a class="heading" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

            <div class="excerpt">{{ post.content | strip_html | truncatewords:30 }}</div>
        </li>
      {% endfor %}
    </ul>

    <center><a class="button" href=" {{ site.blog-url[page.lang] }}">{{ site.more-button[page.lang] }}</a></center>
</div>
</div>
