---
layout: default
ref: index
lang: en
---

<div class="main-header">
  <div class="school-name">{{ site.school-name[page.lang] }}</div>
  <div class="name">{{ site.header-title[page.lang] }}</div>
</div>

<div class="events">
  <div class="wrapper">
    <div class="title">Upcoming Events</div>
    <p>Will do soon</p>
    <p>will do soon</p>
</div>
</div>

<div class="posts">
  <div class="wrapper">
    <div class="title">Latest Posts</div>
    <ul class="post-list">
      {% assign posts=site.posts | where:"lang", page.lang %}
      {% for post in posts limit:5 %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>
</div>
</div>


<!--<div class="home">

  <h1 class="page-heading">Latest Posts</h1>

  <ul class="post-list">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>-->
