.about-page-container{
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.about-blurb-container{
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1em;
}
.about-cssa-blurb{
    color: white;
    line-height: 2em;
    height: 100%;
    background-color: #326491;
    box-sizing: border-box;
    padding: 1em;
    box-shadow: 3px 3px #14283A;
    border: 1px solid #14283A;
}
.about-cssa-blurb > p{
    color: white;
    line-height: 2em;
}
.about-cssa-blurb > p > a {
    color: white;
}
.team-member-display-container{
    width: 50vw;
    height: 92vh;
    box-sizing: border-box;
    padding: 2em;
}
.team-member-display{
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid #14283A;
    box-shadow: 3px 3px #14283A;
    box-sizing: border-box;
    padding: 1em;
}
.cssa-info-container{
    height: 68vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    padding: 1em 2em;
    box-sizing: border-box;
}
.team-title{
    width: 100vw;
    height: fit-content;
    color: white;
    background-color: #326491;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 1em;
}
.team-member-body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.member-name{
    width: 100%;
    height: fit-content;
    color: white;
    background-color: #326491;
    border: 1px solid #14283A;
    box-shadow: 3px 3px #14283A;
    box-sizing: border-box;
    padding: 1em;
}
.exec-content{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 1em 0;
    display: flex;
}