.cssa-event{
    width: 40%;
    max-width:20vw;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #14283a;
    box-sizing: border-box;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 10px 5px #14283a;
    height: fit-content;
    overflow: hidden;
}
.cssa-event:hover{
    transform: translate(-1%, -2%);
    box-shadow: 10px 8px #14283a;
}
.cssa-event > img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.event-image-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.event-image-container > img{
    height: 50%;
    width: 100%;
    object-fit: contain;
}
.event-data-circle{
    border-radius: 50%;
    background-color: #326491;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid white;
    transform: translateY(-50%);
    width: 5vw;
    height: 5vw;
}
.event-info{
    width: 100%;
    padding: 0 1em ;
    box-sizing: border-box;
    position: relative;
    min-height: 5rem;
}
.event-info-tablet{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}
.event-title{
    width: 100%;
    box-sizing: border-box;
}
.event-description{
    color: #A9A9A9;
    font-size: 0.6em;
    box-sizing: border-box;
    word-wrap: break-word;
}
/* @media only screen and (max-width: 2000px){
    .event-title{
        font-size: 0.8em;
    }
    .event-description{
        font-size: 0.6em;
    }
    .event-data-circle{
        font-size: 1em;
    }
} */
/* @media only screen and (max-width: 1440px){
    .event-title{
        font-size: 0.8em;
    }
    .event-description{
        font-size: 0.6em;
    }
    .event-data-circle{
        font-size: 0.8em;
    }
}
@media only screen and (max-width: 1024px){
    .event-title{
        font-size: 0.8em;
    }
    .event-description{
        font-size: 0.6em;
    }
    .event-data-circle{
        font-size: 0.4em;
    }
} */
/* @media only screen and (max-width: 500px){
    .event-info{
        font-size: 0.8em;
    }
    .event-data-circle{
        font-size: 0.6em;
    }
    .event-title{
        font-size: 0.8em;
    }
    .event-description{
        font-size: 0.6em;
    }
} */
@media only screen and (max-width: 600px) {
    .event-info{
        padding: 0 0.5em;
        width: 100%;
    }
    .event-data-circle{
        font-size: 0.6em;
        width: 12vw;
        height: 12vw;
    }
    .event-title{
        font-size: 1em;
    }
    .event-description{
        font-size: 0.6em;
    }
}
@media only screen and (max-width: 380px) {
    .event-info{
        padding: 0 0.5em;
        width: 100%;
    }
    .event-data-circle{
        font-size: 0.6em;
        width: 12vw;
        height: 12vw;
    }
    .event-title{
        font-size: 0.75em;
    }
    .event-description{
        font-size: 0.5em;
    }
}
@media only screen and (min-width: 600px) {
    .event-info{
        padding: 0 0.5em;
        width: 100%;
    }
    .event-data-circle{
        font-size: 0.75em;
        width: 10vw;
        height: 10vw;
    }
    .event-title{
        font-size: 1.1em;
    }
    .event-description{
        font-size: 0.85em;
    }
}
@media only screen and (min-width: 768px) {
    .event-info{
        padding: 0 0.5em;
        width: 100%;
    }
    .event-data-circle{
        font-size: 1em;
        width: 10vw;
        height: 10vw;
    }
    .event-title{
        font-size: 1.25em;
    }
    .event-description{
        font-size: 0.9em;
    }
}
@media only screen and (min-width: 992px) and (orientation: portrait) {
    .event-info{
        padding: 0 1em;
        width: 100%;
    }
    .event-data-circle{
        font-size: 1.25em;
        width: 10vw;
        height: 10vw;
    }
    .event-title{
        font-size: 1.5em;
    }
    .event-description{
        font-size: 1em;
    }
}
@media only screen and (min-width: 992px) and (orientation:landscape) {
    .event-info{
        padding: 0 1em;
        width: 100%;
    }
    .event-data-circle{
        font-size: 1em;
        width: 5vw;
        height: 5vw;
    }
    .event-title{
        font-size: 1.2em;
    }
    .event-description{
        font-size: 0.85em;
    }
}