<footer class="site-foot">

  <div class="site-foot-nav container">

    <div class="site-foot-nav-left">
       <a aria-current="page" class="" href="{{ site.baseurl }}/{{ site.index[page.lang] }}">{{site.title-long[page.lang]}}</a> © 2022
    </div>

    <div class="site-foot-nav-right">
      {% assign pages=site.pages | where:"lang", page.lang %}
        {% for my_page in pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
    </div>

  </div>

</footer>
