
    <nav class="site-nav">
      <!-- <div class="trigger"> -->
      <div class="site-nav-left">
      </div>
      <div class="site-nav-right">  
        {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
        {% for post in posts %} <a class="site-nav-button" href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ post.lang }}</a> {% endfor %}
        {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
        {% for page in pages %} <a class="site-nav-button" href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ page.lang }}</a> {% endfor %}
      </div>
    </nav>