.minutes-page-container{
    height: 92vh;
    width: 100vw;
    display: flex;
    padding: 2em;
    box-sizing: border-box;
}
.minutes-list{
    width: fit-content;
    box-sizing: border-box;
}
.minutes-header{
    font-size: 3em;
}
.minutes-description{
    box-sizing: border-box;
    padding: 2em 0;
    width: fit-content;
}
.minute-links{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #326491;
    box-shadow: 3px 3px #14283a;
    padding: 1em;
    height: 60vh;
}
.minute-links > a{
    font-size: 1em;
    width: fit-content;
    text-decoration: none;
    background-color: #E5E4E2;
    color: #326491;
    margin-bottom: 1.5em;
    padding: 1em 0.5em;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #14283a;
    box-shadow: 3px 3px #14283a;
}
.minute-links > a:hover{
    background-color: white;
    border: 1px solid #14283a;
    color: #326491;
    animation: colorFade 0.5s ;
    transform: translate(-1%, -1%);
    box-shadow: 4px 4px #14283a;
}
@keyframes colorFade {
    0% { background-color: #E5E4E2; }
    100% { background-color: white; opacity: 100%; }
}