.cssa-event{
    width: 40%;
    max-width:20vw ;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #14283a;
    box-sizing: border-box;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 10px 5px #14283a;
}
.cssa-event:hover{
    transform: translate(-1%, -2%);
    box-shadow: 10px 8px #14283a;
}
.cssa-event > img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.event-image-container > img{
    height: auto;
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}
.event-image-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.event-data-circle{
    border-radius: 50%;
    background-color: #326491;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8em;
    border: 2px solid white;
    transform: translateY(-50%);
    width: 5vw;
    height: 5vw;
}
.event-info{
    width: 100%;
    padding: 0 1em ;
    box-sizing: border-box;
    position: relative;
    top: -7%;
    right: 0;
}
.event-info-tablet{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}
.event-title{
    width: 100%;
    box-sizing: border-box;
}
.event-description{
    color: #A9A9A9;
    font-size: 0.6em;
    box-sizing: border-box;
}
@media screen and (max-width: 1600px){
    .event-title{
        font-size: 1em;
    }
    .event-description{
        font-size: 1em;
    }
    .event-data-circle{
        font-size: 1em;
    }
}
@media only screen and (max-width: 1024px) {
    .event-title{
        font-size: 1em;
    }
    .event-description{
        font-size: 0.8em;
    }
    .event-data-circle{
        font-size: 0.8em;
    }
}
@media only screen and (max-width: 399px){
    .event-info{
        /* max-width: 35vw; */
    }
}
@media only screen and (max-width: 500px){
    .event-info{
        font-size: 0.8em;
    }
    .event-data-circle{
        font-size: 0.6em;
    }
    .event-title{
        font-size: 0.8em;
    }
    .event-description{
        font-size: 0.6em;
    }
}
/* @media screen and (max-width: 1440px){
    .event-title{
        font-size: 1em;
    }
    .event-description{
        font-size: 0.8em;
    }
} */