.home-layer-1-container {
    height: fit-content;
    display: flex;
    position: relative;
    overflow: hidden;
}
.layer-1-circle-container {
    overflow: hidden;
    width: 100vw; /*So the circle starts from halfway through*/
    top: 50%;
    left: 50%;
}
.circle {
    height: 100vw; /* Adjusted to 100vw */
    width: 100vw; /* Adjusted to 100vw */
    background-color: #bbb;
    border-radius: 50%;
    position: relative; /* Ensure absolute positioning is relative to this container */
    bottom: 0%;
    /* transform: translateY(35%); */
}

.image1-container{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-40%);
    width: inherit;
    height: inherit;
}

.image1-container img {
    height: inherit;
    width: auto;
    z-index: 1;
}

.image1-container img:nth-child(1){
    animation: shake1 10s infinite;
}
.image1-container img:nth-child(3){
    animation: shake3 7.5s infinite;
}

@keyframes shake1 {
    0% { transform: translate(0%, -50%); }
    20% { transform: translate(5%, -53%); }
    40% { transform: translate(10%, -50%); }
    60% { transform: translate(5%, -50%); }
    80% { transform: translate(5%, -53%); }
    100% { transform: translate(0%, -50%); }
}
@keyframes shake2 {
    0% { transform: translate(-55%, -15%); }
    33% { transform: translate(-50%, -18%); }
    66% { transform: translate(-50%, -15%); }
    100% { transform: translate(-55%, -15%); }
}
@keyframes shake3 {
    0% { transform: translate(-20%, -230%); }
    25% { transform: translate(-20%, -225%); }
    50% { transform: translate(-20%, -220%); }
    75% { transform: translate(-20%, -225%); }
    100% { transform: translate(-20%, -230%); }
}