.home-layer-3-container{
    height: 100vh;
    width: 100vw;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
.layer-3-title{
    width: 100%;
    height: fit-content;
    background-color: #326491;
    padding: 1em 0 1em 2em;
    box-sizing: border-box;
    border-top: 3px solid #14283a;
    border-bottom: 3px solid #14283a;
}
.layer-3-title > p{
    font-size: 3em;
    margin: 0;
    color: white;
    box-sizing: border-box;
}
#group21{
    bottom: 0;
    width: 102vw;
    height: auto;
    transform: translateY(12%);
    position: absolute;
    z-index: -4;
}
#bump-off{
    position: absolute;
    bottom: 0;
    height: 40vh;
    width: auto;
    z-index: 1;
}
#water-dunk{
    position: absolute;
    bottom: 0;
    height: 60vh;
    width: auto;
}
#bull-riding{
    position: absolute;
    bottom: 0;
    transform: translate(50%, -40%);
    height: 51vh;
    width: auto;
}
#bowling{
    position: absolute;
    bottom: 0;
    transform: translate(80%, 0%);
    height: 40vh;
    width: auto;
}
#justin{
    position: absolute;
    bottom: 0;
    height: 50vh;
    width: auto;
    transform: translate(177%,25%);
}
.event-nav-circle{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: #326491;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(40%, 40%);
}
.events-scroller{
    width: 50vw;
    display: flex;
    top: 15%;
    right: 0;
    overflow: scroll;
    position: absolute;
    box-sizing: border-box;
}
.scroller{
    min-width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
@media only screen and (max-width: 900px){
    .layer-3-title > p{
        font-size: 1.25em;
    }
}