.home-layer-2-container{
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Intervogue Soft';
    overflow: hidden;
    /* border-top: 2px solid #14283a; */
}
.meet-the-team-container{
    height: 100vh;
    box-sizing: border-box;
}
.home-layer-2-title{
    font-size: 2em;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
    background-color: #326491;
    color: white;
    font-weight: 800;
    overflow: hidden;
    border-top: 2px solid #14283a;
    border-bottom: 2px solid #14283a;
}
.sliding-numbers{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.sliding-numbers-container{
    display: flex;
    width: fit-content;
    overflow: hidden;
    max-width: 700px;
    white-space: nowrap;
}
.sliding-numbers-container > .digits{
    width: fit-content;
    font-size: 0.25em;
    display: block;
    white-space: nowrap;
    animation: slide1 35s linear infinite;
}
@keyframes loop {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-100%);}
}
.tv-screen-container{
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tv-screen{
    border: 1em solid #D9D9D9;
    box-shadow: 5px 5px 5px 0px #888888;
    box-sizing: border-box;
}
.tv-rims{
    border: 0.5em solid #808080;
}
.tv-content{
    height: 100%;
    background-color: #000000;
}
.meet-the-team-container{
    display: flex;
    flex-direction: column;
    width: 55vw;
    box-sizing: border-box;
    justify-content: space-between;
}
.meet-the-team-blurb{
    padding: 0 2rem;
    color: #808080;
    font-weight: 500;
    font-family: 'Montserrat';
}
.meet-the-team-blurb > p{
    font-size: 1em;
}
.about-page-button-container{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.meet-the-team-blurb > button {
    width: 50%;
    border-radius: 3em;
    height: 20%;
    border: 0;
    background-color: #326491;
    color: white;
    font-family: local('Intervogue Soft');
    font-size: 0.8em;
}
@keyframes slide1 {
    0% { transform: translate(0%, 0%); }
    100% { transform: translate(-400%, 0%); }
}