<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  	<div class="viewport">
	  	<div class="viewport-top">
	    {% include header.html %}

	    {{ content }}
	    </div>
		<div class="viewport-bottom">
	    {% include footer.html %}
	    </div>
    </div>
  </body>
		<!-- Scripts -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.scrolly.min.js"></script>
		<script src="/assets/js/jquery.scrollex.min.js"></script>
		<script src="/assets/js/browser.min.js"></script>
		<script src="/assets/js/breakpoints.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<script src="/assets/js/main.js"></script>

</html>
