---
layout: default
---

<article class="post">

  <header class="post-header">
    <div class="wrapper">
      <h1 class="post-title">{{ page.title }}</h1>
      <div class="event-list-page">
        <li>
          <div>
            <span class="event-info">{{ site.cost[page.lang] }}: {{ page.cost }}</span>
            <span class="event-info">{{ site.location[page.lang] }}: {{ page.location }}</span>
            <span class="fb-link"><a href="{{ page.facebooklink }}">{{ site.facebook-link[page.lang]}}</a></span>
          </div>
        </li>
      </div>
  </div>
  </header>

  <div class="wrapper">
  <div class="post-content">
    {{ content }}
  </div>
</div>

</article>
